/* GLOBAL STYLES, DO NOT TOUCH */
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .garden {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
  }
  
  .plot {
    aspect-ratio: 1 / 1;
    border: 1px dashed #c9c9c9;
    border-radius: 0px;
    background: white;
    position: relative;
  }
  
  #toolbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: auto;
    height: auto;
    padding: 0px 40px 0px 40px;
    background: white;
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  #toolbar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    cursor: grab;
    padding: 8px;
    border-radius: 100px;
  }
  
  .tool-icon {
    font-size: 1.5em;
  }
  
  .tool-name {
    font-size: 0.7em;
  }



/* START ADDING YOUR OWN STYLES BELOW */
#plot-# { /* replace with your plot-# */

}